<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.remus.marketplace.example.command1"
            name="Opens a dialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.remus.marketplace.example.OpenDialogHandler"
            commandId="org.remus.marketplace.example.command1">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.remus.marketplace.example.toolbar1">
            <command
                  commandId="org.remus.marketplace.example.command1"
                  icon="icons/sample.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
